@model teste_supero.Models.task_list

@{
    ViewBag.Title = "Create";
}

<h3>Novo</h3>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Task</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Título:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Descrição:</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.descricao, 5, 70, null)
                @Html.ValidationMessageFor(model => model.descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Concluído:</label>
            <div class="col-md-10">
                    @Html.EditorFor(model => model.concluido)
                    @Html.ValidationMessageFor(model => model.concluido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <input type="submit" value="Salvar" class="btn btn-success" />
                &nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Voltar", "Index")
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
